* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, "roboto";
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ddd;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
